<app-nav></app-nav>
<div class="main">
<div class="container" *ngFor="let item of productsStore">
  <div class="wrapper">
    <img class="banner-image" src="{{item.image}}"/>
  
    <h1>
     {{item.name}}
    </h1>
    <h2>
        ${{item.price}}
    </h2>
  </div>
  <div class="button-wrapper">
    <button class="btn fill" routerLink="/product/{{item.productid}}">DETAILS</button>
    <button class="btn fill" (click)="addToCart(item)">ADD TO CART</button>
  </div>
</div>
</div>

