<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">ElectronicsStore</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a routerLink="/admin">Home</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">        <li><a routerLink=""><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      </ul>
    </div>
  </nav>

  <div class="container">
    <form #product="ngForm" >
        <label for="productid">Product ID</label>
      <input type="text" id="productid" name="productid" placeholder="Product ID" #productid="ngModel"  [(ngModel)]="data.productid"   >
      <label for="name">Product Name</label>
      <input type="text" id="name" name="name" placeholder="Product Name" #name="ngModel"  [(ngModel)]="data.name"   >
  
      <label for="ps">Price</label>
      <input type="number" id="price" name="price" placeholder="Price" #price="ngModel"  [(ngModel)]="data.price"  >
  
      <label for="category">Category</label>
      <input type="text" id="category" name="category" placeholder="Category" #category="ngModel"  [(ngModel)]="data.category"  >
      <label for="sname">Seller Name</label>
      <input type="text" id="sellername" name="sellername" placeholder="Seller Name" #sellername="ngModel"  [(ngModel)]="data.sellername"  >
      <label for="ps">Description</label>
      <input type="text" id="description" name="description" placeholder="Description" #description="ngModel"  [(ngModel)]="data.description"  >
      <label for="stock">Stock</label>
      <input type="number" id="stock" name="stock" placeholder="Stock" #stock="ngModel"  [(ngModel)]="data.stock" >
       
      <input type="submit" value="Create" (click)="createProduct()"  >
    </form>
  </div>